@import './base.css';

.file-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.file-item:hover {
  background-color: #f0f0f0;
}

.folder-icon,
.file-icon {
  font-size: 1.2em;
  margin-right: 8px;
}

.file-system {
  max-width: 100%;
  border-radius: 4px;
  overflow-y: auto;
}

.path-navigation {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #cccccc;
  background-color: #f5f5f5;
}

.path-navigation button {
  margin-right: 8px;
  cursor: pointer;
}

#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.file-system-wrapper {
  width: 80vw;
  height: 80vh;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.file-system-container {
  display: flex;
}

.file-system {
  min-width: 300px;
  border-right: 1px solid #cccccc;
  padding-right: 16px;
  margin-right: 16px;
  height: 79vh;
}

.file-viewer {
  flex-grow: 1;
}